{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="card text-center short-url-card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Shorten Url Service!</h5>
      <p class="card-text">Input an Url and get a short one!</p>
      <i class="help-text">Example: (www.google.com, www.gmail.com)</i>
    <form action="{% url 'home' %}" method="POST">
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-md-12">
            <input type="text" class="form-control long-url-input" name="real_url" placeholder="Provide an Url">
          </div>
        </div>
        <button type="submit" class="btn btn-primary send-button">Send</button>
      </form>
    </div>
  
    {% if short %}
    <p class="short-url-text">Short url: <a href={{short}} target="_blank">{{short}}</a></p>
    {% endif %}

  </div>

{% endblock %}

