.short-url-card {
    position: absolute;
    left: 50%;
    margin-left: -100px;
    margin-top: 10%;
}

.send-button {
    margin-top: 2vh;
}

.short-url-text {
    margin-bottom: 2vh;
}

.help-text {
    font-style: oblique;
    color: lightgray;
}

.long-url-input {
    margin-top: 2vh;
}